.father-container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column; /* Para que las tarjetas estén en columna */
    z-index: 2;
}

.white-background {
    position: fixed; /* O 'fixed' dependiendo del comportamiento que desees */
    top: 0; /* Comienza desde la parte superior de la pantalla */
    left: 0; /* Se alinea a la izquierda */
    width: 100%; /* Cubre todo el ancho de la pantalla */
    height: 10rem;
    background-color: #F0F2F5;
    z-index: 1; /* Asegura que esté detrás del contenido principal */
}

.children-container {
    margin-top: 10rem;
    width: 100%;
}

.father {
    display: flex; /* Para que la tarjeta sea horizontal */
    flex-direction: column; /* Cambia esto si quieres un diseño diferente */
    background-color: white;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 16px; /* Espaciado interno */
    align-self: center;
    margin: 1rem;
    width: 92%;
}

.children {
    display: flex;
    justify-content: space-between; /* Para separar el título y el botón derecho */
    align-items: center;
    width: 94%;
    background-color: white;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 16px; /* Espaciado interno */
    margin: 0.5rem 0.5rem; /* Espaciado en los laterales*/
    cursor: pointer;
}

.childrenOfChildren {
    display: flex;
    justify-content: space-between; /* Para separar el título y el botón derecho */
    align-items: center;
    width: 93%;
    background-color: white;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 16px; /* Espaciado interno */
    margin: 0rem 1rem; /* Espaciado en los laterales*/
    cursor: pointer;
}

.selectedChildrenContainer {
    width: 100%;
}

.selectedChildren {
    display: flex;
    justify-content: space-between; /* Para separar el título y el botón derecho */
    align-items: center;
    width: 94%;
    background-color: #CEA9FF;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 16px; /* Espaciado interno */
    margin: 0.5rem; /* Espaciado en los laterales*/
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.selectedChildrenContent {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    height: 100%;
}

.selectedChildrenTop-left {
    display: flex;
    flex-direction: column;
}

.selectedChildrenTitle {
    font-weight: bold;
    margin: 0;
}

.selectedChildrenDescription {
    margin-top: 1px;
    width: 90%;
}

.selectedChildrenBottom-left {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: auto;
}

.selectedChildrenBottom-Right {
    position: absolute; /* Para posicionarlo relativo a selectedChildren */
    bottom: 0; /* Mover al fondo del contenedor padre */
    right: 0; /* Mover al lado derecho del contenedor padre */
    display: flex;
    gap: 8px; /* Espacio entre los botones */
    padding: 16px; /* Espaciado interno si es necesario */
}

.selectedChildrenLeft-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.selectedChildrenCenter-right-button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    align-self: center; /* Centrado vertical dentro de su contenedor flex */
}


.unordered-item-list li,
.ordered-item-list li {
    margin-top: 1.5rem;
    font-size: large;
    font-weight: bold;
}

.children-unordered-item-list li,
.children-ordered-item-list li {
    margin-top: 1rem;
    font-size: large;
    font-weight: bold;
}

.father-header {
    display: flex;
    justify-content: space-between; /* Para separar el título y el botón superior derecho */
    align-items: center; /* Centrar verticalmente */
}

.father-title {
    margin: 0; /* Elimina el margen del título */
}

.father-body {
    margin: 16px 0; /* Espacio entre el cuerpo y el pie de la tarjeta */
}

.ordered-item-list {
    list-style-type: decimal;
}

.unordered-item-list {
    list-style-type: disc;
}

.father-footer {
    display: flex; /* Para que los botones estén en una fila */
    justify-content: space-between; /* Espacio entre la izquierda y la derecha */
}

.footer-left,
.footer-right {
    display: flex; /* Para alinear los botones en línea */
    gap: 8px; /* Espacio entre los botones */
}

.top-right-button,
.left-button,
.right-button,
.selectedChildrenLeft-button,
.selectedChildrenCenter-right-button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 8px 12px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
}

.left-button:hover,
.right-button:hover,
.selectedChildrenLeft-button :hover,
.top-right-button :hover,
.selectedChildrenCenter-right-button :hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
    transition-duration: 50ms;
}